<header>
    <mat-card class="card">
        <mat-toolbar class="toolbar">
            <mat-toolbar-row>
                <a routerLink="/home" routerLinkActive="active" class="logo">
                    <img class="img-fluid" title="logo-jcorrea" src="./../../assets/imgs/logo-jcorrea.png">
                </a>
                <span class="spacer"></span>
                <a routerLink="/empresa" routerLinkActive="active" class="empresa">
                    <p>Quem somos</p>
                </a>
                <!-- <a routerLink="/contato" routerLinkActive="active" class="contato">
                    <p>Contato</p>
                </a> -->
                <a routerLink="/produto" routerLinkActive="active" class="produto">
                    <p>Produtos</p>
                </a>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card>
</header>