<div class="container">
        <div class="row">
            <div class="col d-flex justify-content-start">
                <a routerLink="/inicio" routerLinkActive="active">
                    <img class="img-fluid" title="logo-jcorrea" src="./../../assets/imgs/logo-jcorrea.png">
                </a>
            </div>
            <div class="col-auto align-self-end">
                <a routerLink="/empresa" routerLinkActive="active" class="empresa">
                    <p>Empresa</p>
                </a>
            </div>
            <div class="col-auto align-self-end">
                <a routerLink="/contato" routerLinkActive="active" class="contato">
                    <p>Contato</p>
                </a>
            </div>
            <div class="col-auto align-self-end">
                <a routerLink="/produto" routerLinkActive="active" class="produto">
                    <p>Produtos</p>
                </a>
            </div>
        </div>
</div>