<div class="footer">
    <footer>
        <div class="row">
            <div class="col">
                <a href="{{ googleMapsUrl }}" target="_blank">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Rua Prof. Adelaide Osório da Silva Alves, 100.
            </div>
        </div>
        <div class="row">
            <div class="col">
                Balneário Sans Souci - Eldorado do Sul/RS - CEP 92990-000
            </div>
        </div>
    </footer>
</div>
