<div class="container min-vh-100">
    <div class="row">
        <div class="col">
            <p>Envie-nos um email descrevendo sua necessidade:</p>
        </div>
    </div>
    <form [formGroup]="formContato" (ngSubmit)="enviarEmail()">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Seu nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error>Por favor, nos diga seu nome</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Seu e-mail</mat-label>
                    <input matInput type="text" formControlName="email">
                    <mat-error>Por favor, informe o email para contato.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Seu telefone</mat-label>
                    <input matInput type="text" formControlName="telefone" mask="(00) 0 0000-0000">
                    <mat-error>Por favor, informe o telefone para contato.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Título</mat-label>
                    <input matInput type="text" formControlName="titulo">
                    <mat-error>Por favor, informe um título.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Mensagem</mat-label>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" formControlName="mensagem" class="email"></textarea>
                    <mat-error>Por favor, informe a mensagem.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <button type="submit" class="btn" [disabled]="!habilitar()" mat-raised-button color="primary">
                    Enviar
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col">
            <p>Ou entre em contato conosco pelo WhatsApp:
                <a href="{{ whatsAppUrl }}">
                    <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</div>
