<div class="container">
    <div class="row">
        <p class="titulo">
            Oferecemos a você dois formatos de embalagens em prolipopileno ráfia, 
            sendo: sacaria costura fundo ou sacaria valvulado, 
            faça  sua escolha conforme a necessidade de sua empresa,
            a qualidade e as garantias são as mesmas para ambas, 
            a diferença está apenas na  forma de envase do seu produto.
        </p>
    </div>
    <div class="row">
        <h4>
            Sacaria costura fundo:
        </h4>
        <p>
            Indicado para produtos de tamanho de médio a grande dessa forma 
            a selagem da embalagem é feita após o acondicionamento do produto.
            <b>Exemplo:</b> Metais
        </p>
    </div>
    <div class="row">
        <h4>
            Sacaria com válvula:
        </h4>
        <p>
            indicado para produtos de tamanhos extra pequenos dessa forma
             a embalagem chega até você com todos os lados fechados 
            e tendo apenas uma pequena entrada por onde o produto chegará ao 
            interior da embalagem através de um tubo, após concluído o envase 
            via válvula conclui-se também o processo de produção, simples e prático.
            <b>Exemplo:</b> Sementes
        </p>
    </div>
    <div class="row imagens">
        <div class="col d-flex justify-content-end">
            <img src="././../../assets/imgs/rafia-um.jpeg" class="img-fluid">
        </div>
        <div class="col d-flex justify-content-start">
            <img src="././../../assets/imgs/rafia-dois.jpeg" class="img-fluid">
        </div>
    </div>
</div>
