.container {
    margin-top: 3%;
    max-width: 1024px;

    h3 {
        font-weight: bold;
        text-decoration: underline;
    }

    p {
        text-align: justify;
    }
}

@media (max-width: 768px) {


}