<div class="container min-vh-100">
    <div class="row">
        <div class="col">
            <h3>
                Quem Somos:
            </h3>
            <p>
                A <b>JCORREA</b> está chegando até você com a plena consciência em atender com excelência as suas necessidades 
                oferecendo embalagens produzidas com a resistência do prolipopileno, sabemos que o compromisso em acondicionar 
                seus produtos e faze -los chegar aos seus clientes com segurança e preservando a qualidade do mesmo é algo muito sério, 
                por isso <b>NÓS ESTAMOS AQUI</b>!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>
                O que fazemos:
            </h3>
            <p>
                Nossos produtos oferecem  o algo mais que as embalagens em polietileno se limitam, tais como: 
                alta resistência necessária e filme produzido em tear permitindo a entrada de ar, 
                fator muito importante para embalar determinados produtos.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>
                Quem atendemos:
            </h3>
            <p>
                Estamos a disposição para atender as mais diversas necessidades de sua empresa,
                exemplos: objetos variados, materiais como ração, fertilizantes, todos os tipos de grãos, 
                areia, terra, vegetais, carvão, entulhos, metais, borracha e derivados, minerais, palhas, 
                malote aéreo, gelo e muito mais...
            </p>
        </div>
    </div>
</div>
