<div class="container">
    <div class="row">
        <div class="col">
            <p class="title">Precisou?</p>
        </div>
    </div>
    <div class="images">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto1 }} " alt="Imagem Produto 1" class="img-thumbnail img-fluid" (click)="open('1')">
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto2 }} " alt="Imagem Produto 2" class="img-thumbnail img-fluid" (click)="open('2')">
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto3 }} " alt="Imagem Produto 3" class="img-thumbnail img-fluid" (click)="open('3')">
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto4 }} " alt="Imagem Produto 4" class="img-thumbnail img-fluid" (click)="open('4')">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto5 }} " alt="Imagem Produto 5" class="img-thumbnail img-fluid" (click)="open('5')">
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto6 }} " alt="Imagem Produto 6" class="img-thumbnail img-fluid" (click)="open('6')">
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto7 }} " alt="Imagem Produto 7" class="img-thumbnail img-fluid" (click)="open('7')">
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto8 }} " alt="Imagem Produto 8" class="img-thumbnail img-fluid" (click)="open('8')">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto9 }} " alt="Imagem Produto 9" class="img-thumbnail img-fluid" (click)="open('9')">
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto10 }} " alt="Imagem Produto 10" class="img-thumbnail img-fluid" (click)="open('10')">
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto11 }} " alt="Imagem Produto 11" class="img-thumbnail img-fluid" (click)="open('11')">
            </div>
            <div class="col d-flex justify-content-center">
                <img src=" {{ produto12 }} " alt="Imagem Produto 12" class="img-thumbnail img-fluid" (click)="open('12')">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="subtitle">Nós estamos aqui!</p>
        </div>
    </div>    
</div>