@import './../../styles/variables.scss';

.container {

    height: 100vh;
    max-width: 1024px;
    margin-bottom: 20%;

    .title {
        margin-top: 5%;
        font-size: 35px;
        text-align: center;
        font-weight: 700;
    }

    img {
        border-radius: 8px;
        scale: 0.8;
        cursor: pointer;
    }

    .images {
        margin-top: 1%;

        .row {
            padding: 0;
            padding-bottom: 15px;
            margin: 0;
        }

        .col {
            margin: 0;
            padding: 0;
            padding-right: 15px;
        }
    }

    .subtitle {
        margin-top: 2%;
        margin-bottom: 15%;
        font-size: 40px;
        text-align: center;
        font-family: $font-sniglet;
        font-weight: 700;
    }

}

@media (max-width: 768px) {

    .container {

        .title {
            margin-top: 5%;
            font-size: 18px;
            text-align: center;
        }

        .subtitle {
            margin-top: 2%;
            margin-bottom: 15%;
            font-size: 22px;
            text-align: center;
        }
    
    }

}